@model IEnumerable<StratexTest.ViewModel.ShiftsViewModel>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>

    <h2>Employees Shift Information</h2>

    <table>
        <tr>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Slot</th>
            <th>From</th>
            <th>To</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @item.ShiftDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftTo)
                </td>

            </tr>
        }
    </table>

</body>
</html>


